<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{rule.description}}">
  <ion-content class="padding">

    <ion-list>
      <ion-item class="item-divider" translate="RULE_COND_TITLE">
      </ion-item>

      <ion-item class="item-remove-animate" ng-repeat="condition in rule.conditions" type="item-text-wrap" >
        <h2>{{condition.sensorname}}</h2>
        <p>{{condition.condtype}} {{condition.testtype}} {{condition.value}}</p>
      </ion-item>

      <ion-item class="item-divider" translate="RULE_ACTIONS_TITLE">
      </ion-item>
      <ion-item class="item-remove-animate" ng-repeat="action in rule.actions" type="item-text-wrap" >

        <div "emailcmd" ng-show="action.actiontype == 'emailcmd'">
          <h2 class="item item-icon-left">{{'RULE_ACTION_SENDEMAIL' | translate}}<i class="icon ion-email"></i></h2>
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate="EMAIL"></span><input type="text" value="{{action.email}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate="SUBJECT"></span><input type="text" value="{{action.subject}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate="MESSAGE"></span><input type="textarea" value="{{action.content}}">
          </label>
        </div>

        <div "sensorcmd" class="item item-icon-left" ng-show="action.actiontype == 'sensorcmd'">

          <h2 class="item item-icon-left">{{'RULE_ACTION_SENDCMD' | translate}}<i class="icon ion-radio-waves"></i></h2>
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate="SENSOR"></span><input type="text" value="{{action.sensorname}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate="COMMAND"></span><input type="text" value="{{action.value}}">
          </label>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
