<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{sensor.devid}}">
  <ion-content class="padding">
    <!--<img ng-src="{{sensor.deviceType}}" style="width: 64px; height: 64px"> -->
    <p>
      {{sensor.deviceType}}
    </p>
  </ion-content>
</ion-view>
