<ion-view view-title="{{'SENSORS' | translate}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="sensor in sensors" type="item-text-wrap" href="#/tab/sensors/{{sensor.devid}}/{{sensor.instid}}/{{sensor.sid}}">
        <img ng-src="">
        <h2>{{sensor.devid}}</h2>
        <p>{{sensor.deviceType}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button" ng-click="sendcmd(sensor, (sensor.metrics.level == 'on' ? 'off' : 'on'))" ng-show="sensor.deviceType == 'sensorBinary' || sensor.deviceType == 'switchBinary'">
          {{sensor.metrics.level}}
        </ion-option-button>



        <ion-option-button class="button-assertive" ng-click="remove(sensor)" translate="DELETE">
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div class="vertical-center-container" ng-show="!sensors.length">
      <div class="vertical-center text-center">
      <h1><i class="icon ion-heart-broken assertive"></i></h1>
      <p translate="NOSENSOR"></p>
      </div>
    </div>
  </ion-content>
</ion-view>
