<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <div class="item item-divider">Domopi controller key</div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="settings.rpiwkey" placeholder="enter your controller key">
        </label>
      </div>
      <div class="item item-divider">Remote server url</div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="settings.rpiwsurl" placeholder="Web service url">
        </label>
        <button class="button button-small" ng-click="check(settings.rpiwsurl)">
          Check
        </button>
      </div>
    <div class="item item-divider">Dashboard settings</div>
    <ion-toggle  ng-model="settings.enableAlerts" ng-click="setsettings()">
        Enable Recent Alerts
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableHealth" ng-click="setsettings()">
        Enable Health
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableUpcoming" ng-click="setsettings()">
        Enable Upcoming
    </ion-toggle>
    <div class="item item-divider">Switch Language</div>
      <ion-radio name="language" ng-value="'fr'"  ng-click="switchLanguage('fr_FR')">Français</ion-radio>
      <ion-radio name="language" ng-value="'en'"  ng-click="switchLanguage('en_US')">Anglais</ion-radio>

    </ion-list>
  </ion-content>
</ion-view>
