<ion-view view-title="Dashboard">
  <ion-content class="padding">
  <p translate="DASHBOARD_INTRO"></p>
    <div class="list card" ng-hide="!settings.enableAlerts">
      <div class="item item-divider">Recent Alerts</div>
      <div class="item item-body">
        <div>
          Rule <b>Trop chaud</b> threshold ...
        </div>
      </div>
      <div class="item item-body">
        <div>
          Rule <b>bla</b> ...
        </div>
      </div>
      <div class="item item-body">
        <div>
          Rule <b>door open</b> detected.
        </div>
      </div>
    </div>
    <div class="list card" ng-hide="!settings.enableHealth">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          All sensors are fine.
        </div>
      </div>
    </div>
    <div class="list card" ng-hide="!settings.enableUpcoming">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
        <canvas id="line" class="chart chart-line" chart-data="graph.data"
          chart-labels="graph.labels" chart-legend="true" chart-series="graph.series"
          chart-click="onClick" >
        </canvas> 
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
