<ion-view view-title="Dashboard">
  <ion-content class="padding">
  This is your domopi dashboard.
    <div class="list card">
      <div class="item item-divider">Recent Alerts</div>
      <div class="item item-body">
        <div>
          Rule <b>Trop chaud</b> threshold ...
        </div>
      </div>
      <div class="item item-body">
        <div>
          Rule <b>bla</b> ...
        </div>
      </div>
      <div class="item item-body">
        <div>
          Rule <b>door open</b> detected.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          All sensors are fine.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You domopi subscription is valid until 31/12/2016.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
