<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="{{'TABS_STATUS_TITLE' | translate}}" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Rules Tab -->
  <ion-tab title="{{'TABS_RULES_TITLE' | translate}}" icon-off="ion-levels" icon-on="ion-levels" badge="rules.length" badge-style="badge-assertive" href="#/tab/rules" ng-controller="RulesCtrl">
    <ion-nav-view name="tab-rules"></ion-nav-view>
  </ion-tab>

  <!-- Sensors Tab -->
  <ion-tab title="{{'TABS_SENSORS_TITLE' | translate}}" icon-off="ion-radio-waves" badge="sensors.length" badge-style="badge-assertive" icon-on="ion-radio-waves" href="#/tab/sensors" ng-controller="SensorsCtrl">
    <ion-nav-view name="tab-sensors"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="{{'TABS_ACCOUNT_TITLE' | translate}}" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  <ion-side-menu side="left" is-enabled="true">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Theme22</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/map/home" class="item item-icon-left" >
          <i class="icon ion-ios7-ionic-outline"></i>Map
        </ion-item>
        <ion-item nav-clear menu-close href="#/map/help" class="item item-icon-left" >
          <i class="icon ion-ios7-help"></i>Help
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  </ion-tab>


</ion-tabs>
</ion-side-menu-content>

  <ion-side-menu side="left" is-enabled="true">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Theme</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/map/home" class="item item-icon-left" >
          <i class="icon ion-ios7-ionic-outline"></i>Map
        </ion-item>
        <ion-item nav-clear menu-close href="#/map/help" class="item item-icon-left" >
          <i class="icon ion-ios7-help"></i>Help
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
