<!-- form-summary.html -->

<div class="list">
<div class="item item-divider" translate="RULESUMMARYTITLE">
</div>


<div class="item item-divider" translate="RULESUMMARYDESC">
</div>
{{ruleData.description}}

<div class="item item-divider" translate="RULESUMMARYCOND">
</div>
    <ion-list>
      <ion-item class="item-remove-animate " ng-repeat="cond in conditions" type="item-text-wrap">
        {{cond}}
      </ion-item>
    </ion-list>

<div class="item item-divider" translate="RULESUMMARYACTION">
</div>
    <ion-list>
      <ion-item class="item-remove-animate " ng-repeat="action in actions" type="item-text-wrap">
        {{action}}
      </ion-item>
    </ion-list>


<button class="button button-block button-positive" ng-click="save($event)" translate="ADDRULE"></button>