<!-- form-condition.html -->
<div class="list">
<div class="item item-divider">
    Select a condition type
</div>

	<ion-list>
	  <ion-radio name="conditiontype" ng-model="condition.condtype" ng-value="'thresholdcond'">Sensor Value Threshold</ion-radio>
	  <ion-radio name="conditiontype" ng-model="condition.condtype" ng-value="'timecond'">Time condition</ion-radio>
	  <ion-radio name="conditiontype" ng-model="condition.condtype" ng-value="'statuscond'">Sensor Status</ion-radio>
	</ion-list>

<div class="item item-divider">
    Threshold condition settings
</div>
	<ion-list ng-show="condition.condtype == 'thresholdcond'">
		<div class="list">

		  <label class="item item-input item-select">
		    <div class="input-label">
		      Sensor Name
		    </div>
		    <select ng-model="condition.sensor_name">
		     <option ng-repeat="sensor in sensors" value="{{sensor.devid}}-{{sensor.instid}}-{{sensor.sid}}">{{sensor.metrics.title}}</option>
		    </select>
		  </label>

		</div>
		<div class="list">
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'>'">></ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'=>'">=></ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'<'"><</ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'<='"><=</ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'='">=</ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'<>'"><></ion-radio>

		</div>
		<label class="item item-input">
		<span class="input-label">Value</span>
		<input type="text" name="value" ng-model="condition.value" placeholder="enter the threshold value">
		</label>

	</ion-list>
<div class="item item-divider">
    Time condition settings
</div>

	<ion-list ng-show="condition.condtype == 'timecond'">
		<label class="item item-input">
		<span class="input-label">Start Time</span>
		<input type="text" name="description" ng-model="condition.starttime" placeholder="enter the start date">
		</label>
		<label class="item item-input">
		<span class="input-label">End Time</span>
		<input type="text" name="description" ng-model="condition.endtime" placeholder="enter the end date">
		</label>
		<ion-list>

		  <ion-checkbox ng-model="condition.alldays">Every day</ion-checkbox>
		  <ion-checkbox ng-model="condition.monday">Monday</ion-checkbox>
		  <ion-checkbox ng-model="condition.tuesday">Tuesday</ion-checkbox>
		  <ion-checkbox ng-model="condition.wednesday">Wednesday</ion-checkbox>
		  <ion-checkbox ng-model="condition.thursday">Thursday</ion-checkbox>
		  <ion-checkbox ng-model="condition.friday">Friday</ion-checkbox>
		  <ion-checkbox ng-model="condition.saturday">Saturday</ion-checkbox>
		  <ion-checkbox ng-model="condition.sunday">Sunday</ion-checkbox>

		</ion-list>
	</ion-list>
<button class="button button-block button-positive" ng-click="addcondition($event)"> Add condition</button>
</div>

<div class="item item-divider">
    Conditions list
</div>

    <ion-list>
      <ion-item class="item-remove-animate " ng-repeat="cond in conditions" type="item-text-wrap">
        {{cond}}
        <ion-option-button class="button-assertive" ng-click="removecond(cond)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.action" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>

