<!-- form-condition.html -->
<div class="list">
<div class="item item-divider" translate="COND_TYPE">
</div>

	<ion-list>
	  <ion-radio name="conditiontype" ng-model="condition.condtype" ng-value="'thresholdcond'">{{'THRESOLDCOND' | translate}}</ion-radio>
	  <ion-radio name="conditiontype" ng-model="condition.condtype" ng-value="'timecond'">{{'TIMECOND' | translate}}</ion-radio>
	  <ion-radio name="conditiontype" ng-model="condition.condtype" ng-value="'statuscond'">{{'STATUSCOND' | translate}}</ion-radio>
	</ion-list>
<div class="item item-divider" ng-show="condition.condtype == 'statuscond'" translate="STATUSCONDTITLE">
</div>
	<ion-list ng-show="condition.condtype == 'statuscond'">
		<div class="list">

		  <label class="item item-input item-select">
		    <div class="input-label" translate="SENSORNAME">
		    </div>
		    <select ng-model="condition.sensor_name">
		     <option ng-repeat="sensor in sensors" value="{{sensor.devid}}-{{sensor.instid}}-{{sensor.sid}}">{{sensor.metrics.title}}</option>
		    </select>
		  </label>

		</div>
		<div class="list">
		
		<ion-toggle ng-model="condition.status" ng-checked="ON" toggle-class="toggle-calm">ON / OFF</ion-toggle>

		</div>

	</ion-list>

<div class="item item-divider" ng-show="condition.condtype == 'thresholdcond'" translate="THRESOLDCONDTITLE">
</div>
	<ion-list ng-show="condition.condtype == 'thresholdcond'">
		<div class="list">

		  <label class="item item-input item-select">
		    <div class="input-label" translate="SENSORNAME">
		    </div>
		    <select ng-model="condition.sensor_name">
		     <option ng-repeat="sensor in sensors" value="{{sensor.devid}}-{{sensor.instid}}-{{sensor.sid}}">{{sensor.metrics.title}}</option>
		    </select>
		  </label>

		</div>
		<div class="list">
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'>'">></ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'=>'">=></ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'<'"><</ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'<='"><=</ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'='">=</ion-radio>
		  <ion-radio name="testtype" ng-model="condition.testtype" ng-value="'<>'"><></ion-radio>

		</div>
		<label class="item item-input">
		<span class="input-label" translate="VALUE"></span>
		<input type="text" name="value" ng-model="condition.value" placeholder="{{'THRESHOLDTXT' | translate}}">
		</label>

	</ion-list>
<div class="item item-divider" ng-show="condition.condtype == 'timecond'" translate="TIMECONDTITLE">
</div>

	<ion-list ng-show="condition.condtype == 'timecond'">
		<label class="item item-input">
		<span class="input-label" translate="STARTTIME"></span>
		<input type="text" name="description" ng-model="condition.starttime" placeholder="{{'STARTTIMETXT' | translate}}">
		</label>
		<label class="item item-input">
		<span class="input-label" translate="ENDTIME"></span>
		<input type="text" name="description" ng-model="condition.endtime" placeholder="{{'ENDTIMETXT' | translate}}">
		</label>
		<ion-list>

		  <ion-checkbox ng-model="condition.alldays">{{'ALLDAYS' | translate}}</ion-checkbox>
		  <ion-checkbox ng-model="condition.monday">{{'MONDAY' | translate}}</ion-checkbox>
		  <ion-checkbox ng-model="condition.tuesday">{{'TUESDAY' | translate}}</ion-checkbox>
		  <ion-checkbox ng-model="condition.wednesday">{{'WEDNESDAY' | translate}}</ion-checkbox>
		  <ion-checkbox ng-model="condition.thursday">{{'THURSDAY' | translate}}</ion-checkbox>
		  <ion-checkbox ng-model="condition.friday">{{'FRIDAY' | translate}}</ion-checkbox>
		  <ion-checkbox ng-model="condition.saturday">{{'SATURDAY' | translate}}</ion-checkbox>
		  <ion-checkbox ng-model="condition.sunday">{{'SUNDAY' | translate}}</ion-checkbox>

		</ion-list>
	</ion-list>
<button class="button button-block button-positive" ng-click="addcondition($event)" translate="ADDCOND"></button>
</div>
{{condition}}
<div class="item item-divider" translate="CONDLIST">
</div>

    <ion-list>
      <ion-item class="item-remove-animate " ng-repeat="cond in conditions" type="item-text-wrap">
        {{cond}}
        <ion-option-button class="button-assertive" ng-click="removecond(cond)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="tab.addruleform.action" class="button icon-right ion-chevron-right button-calm" translate="NEXTBTN"> 
    </a>
</div>
</div>

